.body-wrapper {
    margin: 0;
    padding: 0;
    background-color: #1c1917; /* Stone 900 */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fafaf9; /* Stone 50 */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.header {
    background-color: #292524; /* Stone 800 */
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.logo {
    margin: 0;
}

.logo-text {
    margin: 0;
    font-weight: 900;
    font-size: 1.5rem;
    color: #f97316; /* Orange 500 */
    letter-spacing: 2px;
}